<!--===================================== NAVBAR =================================-->
<form class="navbar navbar-expand navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <!--===================================== Refresh home page =================================-->
    <div class="side-content">
        <button (click)="onBack()" *ngIf="includeBackButton" mat-icon-button aria-label="">
            <mat-icon>arrow_back</mat-icon>
          </button>
      <a *ngIf="!title" class="nav-title" routerLink="/home">Shabuk <span class="sr-only">(current)</span></a>
      <a *ngIf="title" class="nav-title">{{title}}</a>
    </div>
    <div class="side-content">
      <!--===================================== SEARCHBAR =================================-->
      <div *ngIf="showSearch" class="container h-50">
        <div class="d-flex justify-content-left h-50">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a class="search_icon"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>

      <!--===================================== PROFILE / SIGN OUT =================================-->
      <div class="btn-group dropleft">
        <button type="button" class="btn btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/profile">Perfil</a>
          <a class="dropdown-item" routerLink="/library">Mis libros</a>
          <a class="dropdown-item" routerLink="/login">Salir</a>
        </div>
      </div>
    </div>


  </div>
</form>