<app-header></app-header>

<!--===================================== USER NAME =================================-->
<div class="container">
  <h2 class="userName">Aquí va el nombre del usuario</h2>
  <div class="text-right">
    <a routerLink="/edit-create-book" class=".text-primary">Editar / Crear libro</a>
  </div>
</div>
<hr>

<!--===================================== MY LIBRARY =================================-->
<div class="container">
  <h1>Mi biblioteca</h1>
</div>

<!--===================================== CARDS CONTAINER =================================-->
<div class="container">
  <div class="card-columns">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Nombre del libro</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nombre del autor / autores</h6>
        <p class="card-text">Descripción del libro: Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="/edit-create-book" class="card-link">Editar</a>
        <!--<a href="#" class="card-link">Another link</a>-->
      </div>
    </div>

    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Nombre del libro</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nombre del autor / autores</h6>
        <p class="card-text">Descripción del libro: Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="/edit-create-book" class="card-link">Editar</a>
        <!--<a href="#" class="card-link">Another link</a>-->
      </div>
    </div>
  </div>
</div>
