<app-header [showSearch]="false" [includeBackButton]="true"></app-header>

<!--===================================== USER NAME =================================-->
<div class="profile-header">
  <img class="user-avatar" src="assets/images/avatars/1.png"/>
  <h2 class="userName">Aquí va el nombre del usuario</h2>
</div>
<hr>

<!--===================================== CARDS CONTAINER =================================-->
<mat-tab-group>
  <mat-tab label="Mi biblioteca">
    <div class="container cardsContainer">
    <div class="card-columns">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Nombre del libro</h5>
          <h6 class="card-subtitle mb-2 text-muted">Nombre del autor / autores</h6>
          <p class="card-text">Descripción del libro: Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/edit-create-book" class="card-link">Editar</a>
          <!--<a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Publicados">
    <div class="container cardsContainer">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Nombre del libro</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nombre del autor / autores</h6>
        <p class="card-text">Descripción del libro: Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="/edit-create-book" class="card-link">Editar</a>
        <!--<a href="#" class="card-link">Another link</a>-->
      </div>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Los que doné">
    <div class="container cardsContainer">
    Content 3
    </div>
  </mat-tab>
</mat-tab-group>

