<app-header></app-header>

<!--===================================== USER NAME =================================-->
<div class="container">
  <h2 class="userName">Aquí va el nombre del usuario</h2>
  <div class="text-right">
    <a routerLink="/edit-create-book" class=".text-primary">Editar / Crear libro</a>
  </div>
</div>
<hr>

<!--===================================== MY LIBRARY =================================-->
<div class="container">
  <h1>Mis libros</h1>
</div>

<!--===================================== CARDS CONTAINER =================================-->

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">library_books</mat-icon>
      En biblioteca
    </ng-template>
    <book-card [book]="book" *ngFor="let book of localBooks; let i = index"></book-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">public</mat-icon>
      Publicados
    </ng-template>
    <book-card [book]="book" *ngFor="let book of publicBooks; let i = index"></book-card>
  </mat-tab>

</mat-tab-group>
